
.row {
    background-color: #F3f3F4;
    padding:20px;
    border-radius: 8pt;
}

.contactField {
    padding: 20px 0px 50px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.form {
    .subject {
        width: 100%;
    }

    .text {
        width: 100%;
    }
}