@import "../../main.scss";


.leftCol {
  // padding:0px;

}
.holder {
  cursor: default;
  background-color: white;
  width: 100%;
  min-height: auto;
  padding-left: 12pt;
  padding-right: 12pt;
  // padding-top: 8pt;

  .text {
    flex: 1;
    padding-left: 12pt;
    padding-right: 12pt;
    padding-top: 5pt;
    font-family: cooper_hewittmedium, 'Courier New', Courier, monospace;
    line-height: 1.1;
    margin-top: 10pt;
    margin-bottom: 10pt;
    width: 50%;
  }

  h3 {
    font-family: cooper_hewittsemibold, 'Courier New', Courier, monospace;
    font-size: 22pt;

  }


  .hr {
    width: 100%;
    border: 1px solid rgba(20, 20, 20, 0.1);
    margin-top:50px;
    margin-bottom: 60px;
  }

  .overlayView {
    
    overflow: hidden;
    // width: 100%;
    height: 50px;
    
    animation-name: example;
    animation-duration: 150ms;
    animation-iteration-count: 1;
    margin-top: 10px;
    span {
      border-radius: 5px;
      background-color:  #6c757d;
      padding:12px;
      display: block;
      animation-name: fadeInOut;
      animation-duration: 800ms;
      animation-iteration-count: 1;
      color:white;
      
    }
  }

  a:hover {
    text-decoration: none;
  }

  .button {
    // width: 100%;
    background-color:$button-Color-Hover;
    text-align: center;
    color:white;
    padding: 20px;
    font-size: 22pt;
    margin-top: 12pt;
    border-radius: 8pt;


    transition: background-color 200ms ease-in-out;
    margin-left: 0px;
    margin-right: -15px;

    &:hover {
      background-color: black;
    }
  }

  @keyframes fadeInOut {
    0%   { 
      background-color: lightgray;
      
    }

    100%   { 
      background-color:  #6c757d;
    }
  }

  @keyframes example {
    0%   { 
      height: 0px; 
    }
    100% { 
      height: 50px;
    }
  }

  .backgroundButton {
    //background-color: gray;
    padding: 50px;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, #ffffff 35%, rgb(240, 240, 240) 100%);
    border-radius: 8pt;
  }

  .label {
    // margin-left: auto;
    // margin-right: auto;
    // display: block;
  }

  .textFrame {
    // max-width: 400px;
  }

  .iframeCodeBox {
    margin-top: 12pt;
    background-color: #F3f3F4;
    border-radius: 8pt;
    border:2px lightgray solid;
    padding: 12pt;
    width: 100%;
    height: 150pt;
    resize: unset;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
  }

  .privacyRatingSmall {
    float: left;
    width: 220pt;
    padding-right: 20pt;
    // margin-left: 12pt;
    margin-bottom: 12pt;
  }

  .downloadButton {
    padding-top: 12pt;
    // width: 50%;
    
  }

  .privacyRatingSmallButton {
    margin-bottom: 12pt;
    margin-right: 10pt;
  }

}

a {
      color:white;
    }

    a:link {
      color:white;
    }
