@import "../../main.scss";


.holder {
  // background-color: white;
  // width: 100%;
  // min-height: auto;
  // padding-left: 12pt;
  // padding-right: 12pt;
  // padding-top: 8pt;

  .backgroundWhite {
    display: flex;
    padding-left: 12pt;
    padding-right: 12pt;
    padding-top: 35pt;
    padding-bottom: 25pt;
    
  }

  .backgroundGray {
    display: flex;
    background-color: #F3f3F4;
    padding-left: 12pt;
    padding-right: 12pt;
    padding-top: 35pt;
    padding-bottom: 25pt;
    border-radius: 8pt;
  }

  .text {
    flex: 1;
    padding-right: 12pt;
    font-family: cooper_hewittmedium, 'Courier New', Courier, monospace;
    font-size: 12pt;
    line-height: 1.1;
  }

  a:hover {
    text-decoration: none;
  }

  .button {
    // flex: 1;
    width: 100%;
    background-color:$botton-Color;
    text-align: center;
    color:white;
    margin: 10px;
    padding: 20px;
    font-size: 22pt;
    border-radius: 8pt;
    transition: background-color 200ms ease-in-out;
    &:hover {
      background-color: $button-Color-Hover;

      
    }
  }

  .label {
    flex: 1;
    display: flex;
    float: right;
  }

  .pdfButton {
    width: 90pt;
    height: 30pt;
    font-size: 12pt;
    border-radius: 8pt;
    margin-right: 15pt;
    margin-left: 15pt;
  }

  .contactForm {
    flex: 1;
    float: right;
  }
}