.holder {
  background-color: white;
  min-width: 400pt;
  min-height: auto;
  padding-left: 12pt;
  padding-right: 12pt;
  padding-top: 8pt;

  .subTitleBox {
    margin-top: 10pt;
    background-color: #2EA952;
    border-radius: 8pt;
    padding: 10pt;
    min-width: 300pt;
    text-align: center;
    font-family: cooper_hewittsemibold, 'Courier New', Courier, monospace;
    font-size: 25pt;
    line-height: 1.1;
  }

  .Box {
    background-color: #F3f3F4;
    border-radius: 8pt;
  }

  .plainText {
    padding-left: 12pt;
    padding-right: 12pt;
    padding-top: 15pt;
    padding-bottom: 15pt;
    width: 400pt;
    min-height: 330pt;
    font-family: cooper_hewittmedium, 'Courier New', Courier, monospace;
    font-size: 12pt;
    line-height: 1.1;
  }

  .image {
    width: 300pt;
    height: 300pt;
    float: right;
    margin-top: 15pt;
    margin-right: 72pt;
  }
}