.holder {
  background-color: white;
  width: 100%;
  min-height: auto;
  padding-left: 12pt;
  padding-right: 12pt;
  padding-top: 8pt;

  .backgroundWhite {
    display: flex;
    padding-left: 12pt;
    padding-right: 12pt;
    padding-top: 35pt;
    padding-bottom: 25pt;
  }

  .backgroundGray {
    display: flex;
    background-color: #F3f3F4;
    padding-left: 12pt;
    padding-right: 12pt;
    padding-top: 35pt;
    padding-bottom: 25pt;
    border-radius: 8pt;
  }

  .text {
    flex: 1;
    padding-right: 12pt;
    font-family: cooper_hewittmedium, 'Courier New', Courier, monospace;
    font-size: 12pt;
    line-height: 1.1;
  }

  .button {
    flex: 1;
    width: 100%;
    font-size: 22pt;
    border-radius: 8pt;
  }

  .circleBox {
    width: 50%;

    .circleA {
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 5vw;
      height: 5vw;
      background-color: #2EA952;
      border-radius: 100%;
      font-size: 3vw;
      margin-left: 1vw;
    }

    .circleB {
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 5vw;
      height: 5vw;
      background-color: #7CD452;
      border-radius: 100%;
      font-size: 3vw;
      margin-left: 1vw;
    }

    .circleC {
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 5vw;
      height: 5vw;
      background-color: #C0EA7D;
      border-radius: 100%;
      font-size: 3vw;
      margin-left: 1vw;
    }

    .circleD {
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 5vw;
      height: 5vw;
      background-color:  #FFEE42;
      border-radius: 100%;
      font-size: 3vw;
      margin-left: 1vw;
    }

    .circleE {
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 5vw;
      height: 5vw;
      background-color: #EFAF48;
      border-radius: 100%;
      font-size: 3vw;
      margin-left: 1vw;
    }

    .circleF {
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 5vw;
      height: 5vw;
      background-color: #EC6C01;
      border-radius: 100%;
      font-size: 3vw;
      margin-left: 1vw;
    }

    .circleG {
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 5vw;
      height: 5vw;
      background-color: #E82613;
      border-radius: 100%;
      font-size: 3vw;
      margin-left: 1vw;
    }

  }
}