.holder {
  display: flex;
  background-color: #D0D2D3;
  padding: 12pt;
  height: 100%;
  width: 100%;
  border-radius: 8pt;
  text-align: left;

  .footerText {
    flex: 1;
    font-size: 7pt;
    line-height: 11pt;
    padding-right: 8pt;
  }
}