@import "../main.scss";


.holderSmall {
  // color:gray;
  opacity: 0.75;
  a:link {
    color:gray;
    text-decoration: underline;
  }
  a:visited {
    color:gray;
  }
}

p {
  span {
    margin-right: 15px;
  }
}

.holder {
  padding-top: 10px;
  padding-bottom: 10px;

  a:link {
    color:gray;
  }
  a:visited {
    color:gray;
  }
  
  .container {
    display: flex;
    // background-color: $color-Background;
    border-radius: 8pt;
    font-size: 10pt;

    margin-left: -15px;
    margin-right: -15px;

    .footerText {
      flex: 1;
      padding:15px;
      
  
      .button {
       float: right;
        margin-left: 10px;
        margin-bottom: 10px;
      }
    }
    .labelSmall {
      float: right;
    }
    .textLicense {
      margin-top: 12pt;
      float: right;
    }
  }
}