.holder {
  display: flex;
  background-color: #D0D2D3;
  padding: 16pt;
  border-radius: 10pt;
  width: 100%;

  .privacyRatingFont {
    font-family: cooper_hewittsemibold, 'Courier New', Courier, monospace;
    font-size: 4vw;
    line-height: 1.1;
  }

  .flexbox {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    float: right;
  }

  .cirleA {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 9vw;
    height: 9vw;
    background-color: #2EA952;
    border-radius: 100%;
    font-size: 6vw;
    margin-left: 3vw;
  }

  .cirleB {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 9vw;
    height: 9vw;
    background-color: #7CD452;
    border-radius: 100%;
    font-size: 6vw;
    margin-left: 1vw;
  }

  .cirleC {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 9vw;
    height: 9vw;
    background-color: #C0EA7D;
    border-radius: 100%;
    font-size: 6vw;
    margin-left: 1vw;
  }

  .cirleD {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 9vw;
    height: 9vw;
    background-color:  #FFEE42;
    border-radius: 100%;
    font-size: 6vw;
    margin-left: 1vw;
  }

  .cirleE {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 9vw;
    height: 9vw;
    background-color: #EFAF48;
    border-radius: 100%;
    font-size: 6vw;
    margin-left: 1vw;
  }

  .cirleF {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 9vw;
    height: 9vw;
    background-color: #EC6C01;
    border-radius: 100%;
    font-size: 6vw;
    margin-left: 1vw;
  }

  .cirleG {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 9vw;
    height: 9vw;
    background-color: #E82613;
    border-radius: 100%;
    font-size: 6vw;
    margin-left: 1vw;
  }
}