@import "../main.scss";

.holder {
  background-color: #D0D2D3;
  padding: 16px;
  border-radius: 10pt;
  width: 100%;
  display: flex;
  margin-top: 8pt;

  .flexbox {
    flex:1;
    width: 100%;
    display: flex;
    .element {
      flex: 1;
      padding:0px 8px 0px;
      .label {
        width: 100%;
        text-align: center;
        padding-top: 0px;
        border-radius: 100%;
        align-items: stretch;
        font-size: 70px;
      }
    }
  }

  .flexboxTitle {
    flex:0.25;
    .privacyRatingFont {
      font-family: cooper_hewittsemibold, 'Courier New', Courier, monospace;
      font-size: 50px;
      line-height: 1.1;
    }
  }

  @media (max-width: 1200px) {
    .flexbox {
      .element {
        padding:0px 8px 0px;
        .label {
          font-size: 55px;
        }
      }
    }

    .flexboxTitle {
      flex:0.25;
      .privacyRatingFont {
        font-size: 40px;
      }
    }
  }

  @media (max-width: 992px) {
    .flexbox {
      .element {
        padding:0px 6px 0px;
        .label {
          font-size: 40px;
        }
      }
    }

    .flexboxTitle {
      flex:0.25;
      .privacyRatingFont {
        font-size: 30px;
      }
    }
  }

  @media (max-width: 768px) {

    .flexbox {
      .element {
        padding:0px 4px 0px;
        .label {
          font-size: 30px;
        }
      }
    }

    .flexboxTitle {
      flex:0.25;
      .privacyRatingFont {
        font-size: 20px;
      }
    }
  }

  @media (max-width: 576px) {

    .flexbox {
      .element {
        padding:0px 4px 0px;
        .label {
          font-size: 29px;
        }
      }
    }

    .flexboxTitle {
      flex:0.25;
      .privacyRatingFont {
        font-size: 20px;
      }
    }
  }

  .circleA { background-color: $color-A;}
  .circleB { background-color: $color-B;}
  .circleC { background-color: $color-C;}
  .circleD { background-color: $color-D;}
  .circleE { background-color: $color-E;}
  .circleF { background-color: $color-F;}
  .circleG { background-color: $color-G;}

}