@import "src/main";

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  background-color: $color-A;
  border-radius: 8pt;
  margin-top: 4pt;
  cursor: pointer;
  height: 35pt;
  transition: all .4s ease-in-out;
  overflow: hidden;

  &.selected {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    background-color: $color-A;
    border-radius: 8pt;
    margin-top: 4pt;
    height: 140pt;
  }



  .label {
    flex: 1;
    font-family: cooper_hewittsemibold, 'Courier New', Courier, monospace;
    font-size: 23pt;
    padding-top: 5pt;
  }
}