@import "src/main";

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border-radius: 8pt;
  margin-top: 4pt;
  cursor: pointer;
  height: 34pt;
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -o-transition: $duration;
  -ms-transiton: $duration;
  transition: $duration;
  overflow: hidden;

  &.colorA { background-color: $color-A;}
  &.colorB { background-color: $color-B;}
  &.colorC { background-color: $color-C;}
  &.colorD { background-color: $color-D;}
  &.colorE { background-color: $color-E;}
  &.colorF { background-color: $color-F;}
  &.colorG { background-color: $color-G;}

  &.selected {
    height: 127pt;
    .arrow {
      transform: rotate(90deg);
    }
  }

  &.notSelected {
    background-color: $color-Inactive;
    height: 26pt;

    .label {
      font-size: 16pt;
      color: $color-Grey-Text;
    }

    .icon {
      float: left;
      height: 20pt;
      width: 20pt;

    }

    .arrow {
      float: right;
      height: 20pt;
      width: 20pt;
    }
  }


  .label {
    flex: 1;
    font-family: cooper_hewittsemibold, 'Courier New', Courier, monospace;
    font-size: 22pt;
    padding-top: 3pt;
  }

  .icon {
    float: left;
    height: 30pt;
    width: 30pt;

  }

  .arrow {
    float: right;
    height: 30pt;
    width: 30pt;
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -o-transition: $duration;
    -ms-transiton: $duration;
    transition: $duration;
  }

 


}