@import "src/main";

.holder {
  display: flex;
  padding-left: 8pt;
  padding-right: 10pt;
  cursor: default;

  .label {
    flex: 1;
    font-family: cooper_hewittmedium, 'Courier New', Courier, monospace;
    font-size: 11pt;
    border-radius: 10pt;
    margin: 2pt;
    padding-top: 4pt;
    height: 25pt;
  }

  .colouredDots {
    margin-top: 4pt;
    margin-bottom: 4pt;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    float: left;
    border: 1.2pt solid black;

    &.colorA { background-color: $color-A;}
    &.colorD { background-color: $color-D;}
    &.colorG { background-color: $color-G;}
  }
}