@import "src/main";

.holder {
  display: flex;
  padding-left: 10pt;
  padding-right: 10pt;
  cursor: default;

  .label {
    flex: 1;
    font-family: cooper_hewittmedium, 'Courier New', Courier, monospace;
    font-size: 11.5pt;
    border-radius: 10pt;
    margin: 2pt;
    padding-top: 4pt;
    height: 25pt;
  }

  .colouredDots {
    width: 8pt;
    height: 8pt;
    border-radius: 50%;
    margin-bottom: 4pt;
    float: left;
    border: 1px solid black;


    &.colorA { background-color: $color-A;}
    &.colorD { background-color: $color-D;}
    &.colorG { background-color: $color-G;}
  }
}