@import "src/main";

.footer {
  padding-top: 6pt;
  font-size: 8pt;
  color: $color-Grey-Text;
  display: flex;

  .domainName {
    font-family: cooper_hewittsemibold, 'Courier New', Courier, monospace;
    flex:1;
  }

  .year {
    flex:1;
    position: absolute;
    font-family: cooper_hewittsemibold, 'Courier New', Courier, monospace;
    text-align: center;
    margin-left: 140pt;
  }

  .questionMark {
      position: absolute;
      flex:1;
      margin-left: 286pt;

      a {
        background: url("#{$env}resources/icons/question.svg");
        float:right;
        width: 10pt;
        height: 10pt;
        &:hover {
          background: url("#{$env}resources/icons/question-hover.svg");
        }
      }
    }

  .license {
    position: absolute;
  }
}