.footer {
  padding-top: 6pt;
  font-size: 8pt;
  color: #A6A8AB;
  display: flex;

  .domainName {
    font-family: cooper_hewittsemibold, 'Courier New', Courier, monospace;
    flex:1;
  }

  .year {
    flex:1;
    position: absolute;
    font-family: cooper_hewittsemibold, 'Courier New', Courier, monospace;
    text-align: center;
    margin-left: 140pt;
  }

  //.reportFlag {
  //  position: absolute;
  //  flex:1;
  //  margin-left: 286pt;
  //
  //  a {
  //    background: url("/resources/icons/reportflag.svg");
  //    float:right;
  //    width: 13pt;
  //    height: 13pt;
  //    &:hover {
  //      background: url("/resources/icons/reportflag-hover.svg");
  //    }
  //  }
  //}

  .questionMarker {
      position: absolute;
      flex:1;
      margin-left: 286pt;

      a {
        background: url("/resources/icons/question.svg");
        float:right;
        width: 10pt;
        height: 10pt;
        &:hover {
          background: url("/resources/icons/question-hover.svg");
        }
      }
    }

  .license {
    position: absolute;
  }

  
}