@import "src/main";

.holder {
    background-color: #f3f3f4;
    width: 320pt;
    height: 320pt;
    padding-left: 12pt;
    padding-right: 12pt;
    padding-top: 8pt;

    &.selected_category_0 {

        //.categoryBoxes {
            //:nth-child(1){
                .container {
                    background-color: red;
                    height: 500px !important;
                }
            //}
        //}
    }
}

