@import "src/main";

.holder {
  width: 106pt;
  height: 106pt;
  border-radius: 50%;
  font-size: 68pt;
  line-height: 106pt;
  text-align: center;
  background: $color-B;
  float: right;
  margin-bottom: 4pt;
}