.license {
  display: flex;

  .explain {
    position: absolute;
    flex: 1;
    margin-left: 271pt;

  }

  a {
    position: relative;
    background: url("/resources/icons/cc.svg");
    float:right;
    width: 11pt;
    height: 11pt;
    &:hover {
      background: url("/resources/icons/cc-hover.svg");
    }
  }

  .tooltip {
    float: right;
    width: 13pt;
    height: 13pt;
    margin-left: 1pt;
    padding-top: 1.5pt;
  }

  .licenseText{
    display: flex;
    font-family: cooper_hewittmedium, 'Courier New', Courier, monospace;
    font-size: 9pt;
    color: #A6A8AB;
    margin-left: 1pt;
    padding-top: 1.5pt;
  }
}