@import "src/main";

.holder {
  font-family: cooper_hewittsemibold, 'Courier New', Courier, monospace;
  font-size: 37pt;
  line-height: 1.1;
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -o-transition: $duration;
  -ms-transiton: $duration;
  transition: $duration;

  &.holderminimal {
    font-family: cooper_hewittsemibold, 'Courier New', Courier, monospace;
    font-size: 22pt;
  }
}