

.accordionView {
    padding:15px;
    min-width: 100% !important;
    
}

.ProgressBar {
    height: 50px;
    font-size: 16px;
    background-color: #F3f3F4;
    border-radius: 8pt;
}

.answerButton {
    background-color: rgb(50, 50, 50);
    padding: 5px 40px 5px ;
    color:white;
    transition: background-color 100ms ease-in-out;
    
    &:hover {
        background-color: black;
        color: white;
    }
}

.formFooter {
    position: fixed;
    width: 100%;
    bottom:0px;
    background-color:rgb(255, 255, 255);
    padding-bottom: 50px;
    padding-top:30px;
    border-top: 1px solid lightgray;
}
