@import "../../main.scss";

.justifyContentEnd {
    font-family: cooper_hewittmedium, 'Courier New', Courier, monospace;
    font-size: 20pt;
    justify-content: flex-end!important;
    float:right;

    .catStatus {
        border: black 2px solid;
        padding:0px 12px 0px;
        border-radius: 30px;
        text-align: center;

        .smallCircle {
            background-color: $color-A;
            width:25px;
            height: 25px;
            margin-top: 7px;
            margin-left: -5px;
            border-radius: 100%;
        }
    }

    .check {
        border: $color-A 2px solid;
        color: $color-A;
        width:43px;
        height:43px;
        opacity: 1.0;
    }

    .cross {
        opacity: 0.1;
        color: black;
        width:43px;
        height:43px;
        border: black 2px solid;
    }
}

.headerstyle {
    font-family: cooper_hewittsemibold, 'Courier New', Courier, monospace;
    font-size: 22pt;

    .headerIconBig {
        width: 30pt;
        height: 30pt;
        float: left;
        margin-right: 15px;
    }
}

.headerstyleNotSelected {
    font-family: cooper_hewittmedium, 'Courier New', Courier, monospace;
    font-size: 15pt;
    height: 30px;
}

.urlInput {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.helpButton {
    background-color: rgb(50, 50, 50);
    line-height: 35px;
    text-align: center;
    width: 100px;
    color:white;
    border-radius: 8pt;
    flex: 1;
    position: relative;
    font-size: 18px;
    border:none;
    margin: 5px;

    &:focus {outline:0;}
    &:hover {background-color: black; color: black;}
    &.notSelected {background-color: gray;}
    &.selected {background-color: $color-A;}
    &:hover {background-color: black; color: white;}
}

.list-group-item {
    background-color: red !important;
}

.popOver {
    max-width:400px;
}

.answerContainer {
    display: flex;
    overflow: hidden;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.question {
    text-align: left;
    .questionText {
        max-width: 600px;
        white-space: pre-line;
        margin-left: auto;
        margin-right: auto;
        font-size: 16pt;
        margin-bottom: 10px;
    }
    &.prefilled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.answerButton {
    background-color: rgb(50, 50, 50);
    line-height: 35px;
    text-align: center;
    width: 100px;
    color:white;
    border-radius: 8pt;
    flex: 1;
    position: relative;
    font-size: 18px;
    border:none;
    margin: 5px;

    &:focus {outline:0;}
    &:hover {background-color: black; color: black;}
    &.notSelected {background-color: gray;}
    &.selected {background-color: $color-A;}
}