

.accordionView {
    padding:15px;
    min-width: 100% !important;   
}

.ProgressBar {
    height: 50px;
    font-size: 16px;
    background-color: #F3f3F4;
    border-radius: 8pt;

    &:hover {
        div {
            color:white !important;
        }
    }
}

a:hover {
    text-decoration: none;
}

.ProgressBarComplete {
    height: 200px;
    font-size: 26px;
    animation-name: animateHeight;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes animateHeight {
    0%   { 
      height: 50px; 
      font-size: 16px;
    }
    100% { 
      height: 200px;
      font-size: 26px;
    }
  }

.formContainer {
    padding-bottom: 350px;
}

.answerButton {
    background-color: rgb(50, 50, 50);
    padding: 5px 40px 5px ;
    transition: background-color 100ms ease-in-out;
    
    &:hover {
        background-color: black;
        color: white;
    }
}

.formFooter {
    position: fixed;
    width: 100%;
    bottom:0px;
    background-color:rgb(255, 255, 255);
    padding-bottom: 50px;
    padding-top:30px;
    border-top: 1px solid lightgray;
}
