
.justifyContentEnd {
    font-family: cooper_hewittmedium, 'Courier New', Courier, monospace;
    font-size: 20pt;
    justify-content: flex-end!important;
    float:right;

    
    

    .catStatus {
        border: black 2px solid;
        padding:0px 12px 0px;
        border-radius: 30px;
        text-align: center;

        .smallCircle {
            background-color: #2EA952;
            // margin:2px 2px 2px;
            width:25px;
            height: 25px;
            margin-top: 7px;
            margin-left: -5px;
            border-radius: 100%;
        }
       
    }

    .check {
        border: #2EA952 2px solid;
        color: #2EA952;
        width:43px;
        height:43px;
        opacity: 1.0;
    }

    .cross {
        opacity: 0.1;
        color: black;
        width:43px;
        height:43px;
        border: black 2px solid;
    }
}

.headerstyle {
    font-family: cooper_hewittsemibold, 'Courier New', Courier, monospace;
    font-size: 22pt;

    .headerIconBig {
        width: 30pt;
        height: 30pt;
        float: left;
        margin-right: 15px;
    }
    
    
}

.headerstyleNotSelected {
    font-family: cooper_hewittmedium, 'Courier New', Courier, monospace;
    font-size: 15pt;
    height: 30px;
}

.urlInput {
    max-width: 500px;
    
    margin-left: auto;
    margin-right: auto;
}

.helpButton {
    background-color: rgb(50, 50, 50);
    line-height: 35px;
    text-align: center;
    width: 100px;
    // height: 40px;
    color:white;
    border-radius: 8pt;
    flex: 1;
    // margin: 10px auto;
    position: relative;
    // left: 45%;
    font-size: 18px;
    // margin-left: 5px;

    
    // transition: background-color 100ms ease-in-out;

    &:hover {
        background-color: black;
        color: black;
    }

    &.notSelected {
        background-color: gray;
    }

    &.selected {
        background-color: #2EA952;
    }
    
    &:hover {
        background-color: black;
        color: white;
    }
}


.listGroup {
    .ListGroupItem {
        // border:none;
        // &:nth-child(odd) {
        //     background-color: #777;
        //     // padding:0px;
        // }
        // &:nth-child(even) {
        //     background-color: blue;
        //     // padding:0px;
        // }
    }
}

.list-group-item {
    background-color: red !important;
}

.popOver {
    max-width:400px;
}


.answerContainer {
    display: flex;
    // height: 60px;
    overflow: hidden;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    // padding-bottom: 20px;
}

.question {
    text-align: left;
    .questionText {
        max-width: 500px;
        white-space: pre-line;
        margin-left: auto;
        margin-right: auto;
        font-size: 16pt;
        margin-bottom: 10px;
    }
}

.answerButton {
    background-color: rgb(50, 50, 50);
    line-height: 35px;
    text-align: center;
    width: 100px;
    // height: 40px;
    color:white;
    border-radius: 8pt;
    flex: 1;
    // margin: 10px auto;
    position: relative;
    // left: 45%;
    font-size: 18px;
    // margin-left: 2px;
    // margin-right: 2px;
    // transition: background-color 100ms ease-in-out;

    &:hover {
        background-color: black;
        color: black;
    }

    &.notSelected {
        background-color: gray;
    }

    &.selected {
        background-color: #2EA952;
    }
}