@import "src/main";

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: left;
  border-radius: 8pt;
  margin-top: 4pt;
  //cursor: pointer;
  // height: 34pt;
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -o-transition: $duration;
  -ms-transiton: $duration;
  transition: $duration;
  overflow: hidden;

  // &.colorA { background-color: $color-A;}
  // &.colorB { background-color: $color-B;}
  // &.colorC { background-color: $color-C;}
  // &.colorD { background-color: $color-D;}
  // &.colorE { background-color: $color-E;}
  // &.colorF { background-color: $color-F;}
  // &.colorG { background-color: $color-G;}

  &.selected {
    height: 127pt;
    text-align: left;

    .arrow {
      transform: rotate(90deg);
    }
  }


  .label {
    flex: 1;
    font-family: cooper_hewittsemibold, 'Courier New', Courier, monospace;
    font-size: 22pt;
    padding-top: 3pt;
    text-align: left;
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -o-transition: $duration;
    -ms-transiton: $duration;
    transition: $duration;    
    display: flex;
    
    > div {
      &:nth-child(1) { flex: 1; }
      &:nth-child(2) { flex: 3; }      
    }
  }



  .icon {
    float: left;
    height: 30pt;
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -o-transition: $duration;
    -ms-transiton: $duration;
    transition: $duration;
  }

  .arrow {
    float: right;
    padding-top: 8pt;
    height: 20pt;
    width: 20pt;
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -o-transition: $duration;
    -ms-transiton: $duration;
    transition: $duration;
  }
}