@import "src/main";

.holder {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  background-color: $color-A;
  border-radius: 8pt;
  margin-top: 4pt;


  .label {
    flex: 1;
    font-family: cooper_hewittsemibold, 'Courier New', Courier, monospace;
    font-size: 23pt;
    padding-top: 5pt;
    min-height: 33pt;

    //&:nth-child(1) {
    //}
    //
    //&:nth-child(2) {
    //  background-color: $color-C;
    //  min-height: 33pt;
    //}
    //
    //&:nth-child(3) {
    //  background-color: $color-C;
    //  min-height: 33pt;
    //}
    //
    //&:nth-child(4) {
    //  background-color: $color-D;
    //  min-height: 33pt;
    //}
  }


}