@import "src/main";

.holder {
  display: flex;

  .label {
    font-family: cooper_hewittmedium, 'Courier New', Courier, monospace;
    //font-size: 10pt;
    background-color: $color-B;
    border-radius: 10pt;
    flex: 1;
    margin: 1px;

  }

  //div {
  //  flex: 1;
  //  text-align: center;
  //  font-size: 10pt;
  //  border-radius: 10pt;
  //  border: 2pt solid white;
  //
  //  &:nth-child(1) {
  //    background-color: $color-G;
  //  }
  //
  //  &:nth-child(2) {
  //    background-color: $color-F;
  //  }
  //
  //  &:nth-child(3) {
  //    background-color: $color-D;
  //  }
  //}
}