@import "src/main";

.holder {
  display: flex;
  padding-left: 10pt;
  padding-right: 10pt;

  .label {
    font-family: cooper_hewittmedium, 'Courier New', Courier, monospace;
    //font-size: 10pt;
    background-color: $color-B;
    border-radius: 10pt;
    flex: 1;
    margin: 2pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
    border: 2pt solid white;
  }
}