@import "../../main.scss";
// @import "../../../node_modules/react-image-gallery/styles/css/image-gallery.css";

.popOver {
  max-width: 33%;
  background-color: lightyellow;

  h3 {
    background-color: lightyellow;
  }

  .bullet {
    padding-bottom: 5px;
  }
  .score {
    color:black;
    font-weight: bold;
    // background-color:  rgba(lightgray, 0.5);
    border-radius: 5px;
    padding: 3px 0px;
    width: 85px;
    border:solid 1px rgba(gray, 0.2);
    display: inline-block;
    text-align: center;
    // &[data-score="-1"] {
    //   background-color:  rgba(red, 0.2);
    // }
    // &[data-score="+1"] {
    //   background-color:  rgba(#2EA952, 0.2);
    // }
  }
}



.actionsRow {
  width: 100%;
  display: flex;
.actions {
  width: 100%;
  margin:0px;
  padding:0px;
  a {
    float:right;
    max-width: 50%;
    background-color:  #2EA952;
    margin:0px;
  }
}
}


.h4spaced {
  padding-bottom: 20px;
}

.labelFrame {
  width: 100%;
    
  .label {
    float: right;
    margin-right: 20px;
  }
}


.smallLabels {
  margin:0px;
  padding:0px;
  img {
    margin:0px;
    margin-bottom: 27px;
    margin-right: 15px;
  }
}

.holder {

  

  .backgroundCategories {
    display: flex;
    
    padding-bottom: 35pt;
    border-radius: 0pt 0pt 8pt 8pt;

    div {
      flex: 1;
    }
  }

  .backgroundCategories1 {
    display: flex;
    background-color: $color-Background;
    padding-bottom: 35pt;

    div {
      flex: 1;
    }
  }

  .text {
    flex: 1;
    padding: 0px 20px 0px;
    font-family: cooper_hewittmedium, 'Courier New', Courier, monospace;
    font-size: 12pt;

    a:link {
      color: gray;
    }
    
    a {
      color: gray !important;
    }
    
    a:visited {
      color: gray !important;
    }
    
    a:link {
      color: gray;
    }
    
    a:hover {
      color: black !important;
    }

    h4 {
      width: 100%;
      margin-bottom: 22pt;

    }

    .spacer {
      margin: 15%;
    }
  }

 

  .backgroundGray {
    display: flex;
    margin-top: 48pt;
    padding-top: 22pt;
    padding-bottom: 15pt;
    border-radius: 8pt 8pt 0pt 0pt;

    div {
      flex: 1;
    }
  }

  .backgroundSlider {
    padding: 50px;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, #ffffff 35%, rgb(230, 230, 230) 100%);
    border-radius: 8pt;
    padding-bottom: 30px;
    .text {
      display: flex;
      width: 100%;
      div {
        flex:1;
        padding: 0px 20px 0px;
      }
    }

  }

  .hr {
    width: 100%;
    border: 1px solid rgba(160, 160, 160, 0.1);
    margin-top:50px;
    margin-bottom: 30px;
  }

  a:hover {
    text-decoration: none;
  }

  .button {
    width: 100%;
    background-color:$button-Color-Hover;
    text-align: center;
    color:white;
    padding: 10px;
    font-size: 14pt;
    margin-top: 12pt;
    border-radius: 8pt;
    transition: background-color 200ms ease-in-out;
    margin-left: 0px;
    margin-right: -15px;

    &:hover {
      background-color: black;
    }
  }


  .pdfButton {
    width: 90pt;
    padding-top:50px;
    height: 120pt;
    font-size: 12pt;
    border-radius: 3pt;
    background-color: white;
    text-align: center;
    color:black;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, #ffffff 35%, rgb(230, 230, 230) 100%);
    border: lightgray 1px solid;
  }

  .categoriesContainer {
    width: 100%;
    display: flex;
    
  }

  .scoreDrawContainer {
    width: 100%;
    display: flex;
    border-radius: 8pt;
    border: lightgray 2px solid;
    padding: 20px;
    margin:10px;

    > div {
      flex: 1;
    }
  }

  .categories {
    flex:1;
    padding:20px;
    border-radius: 8pt;
    border: lightgray 2px solid;
    margin-bottom: 10px;
    margin:10px;
    background-color: rgba(255, 255, 255, 0.3);
    
    button {
      background-color: white;
      border:none;
      padding:0px 15px;
      border-radius: 5px;
      border:2px solid rgba(gray, 0.3);
      transition: box-shadow .3s ease-out;
    }

    h5 {
      text-align: center;
      font-family: cooper_hewittsemibold, 'Courier New', Courier, monospace;
      font-size: 20pt;
      margin-bottom: 30px;
    }

    .description {
      text-align: center;
      font-family: 'cooper_hewittmedium', 'Courier New', Courier, monospace;
      line-height: 20pt;
      margin-top: 5pt;
    }

    .icon {
      width: 30pt;
      position: absolute;
      margin-left: 10pt;
    }

    .colouredDots {
      margin-top: 4pt;
      width: 8pt;
      height: 8pt;
      border-radius: 50%;
      margin-left: 20pt;
      margin-bottom: 4pt;
      float: left;
      border: 1px solid black;
      position: absolute;
    }
  }

  
  .downloadHandle {
    display: flex;
    
    padding:50px;
    padding-top: 15px;
    padding-bottom: 25px;

    a {
      color: gray !important;
    }
    
    a:visited {
      color: gray !important;
    }
    
    a:link {
      color: gray;
    }
    
    a:hover {
      color: black !important;
    }

    
    div {
      flex: 1;
    }

    div:first-child {
      max-width: 110pt;
    }
    div:nth-child(2) {
      max-width: 250pt;
    }
  }
}