$color-A: #2EA952;

$color-B: #7CD452;

$color-C: #C0EA7D;

$color-D: #FFEE42;

$color-E: #EFAF48;

$color-F: #EC6C01;

$color-G: #E82613;

$color-Background: #F3f3F4;

$color-Inactive: #D0D2D3;

$color-Grey-Text: #A6A8AB;

$duration: all .45s ease-in-out;


@font-face {
    font-family: 'cooper_hewittmedium';
    src: url('/resources/fonts/webfontkit-CooperHewitt/cooperhewitt-medium-webfont.woff2') format('woff2'),
         url('/resources/fonts/webfontkit-CooperHewitt/cooperhewitt-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cooper_hewittsemibold';
    src: url('/resources/fonts/webfontkit-CooperHewitt/cooperhewitt-semibold-webfont.woff2') format('woff2'),
         url('/resources/fonts/webfontkit-CooperHewitt/cooperhewitt-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body,html {
    margin:0;
    padding:0;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

body {
    background-color: white;
    font-family: 'cooper_hewittmedium', 'Courier New', Courier, monospace;
}